window {
width: 50px;
margin: 5px;
border-radius: 5px;
background-color: #1e1e2e;
}

#input {
margin: 5px;
border-radius: 5px;
background-color: #313244;
}

#inner-box {
margin: 5px;
border-radius: 5px;
background-color: #313244;
}

#outer-box {
margin: 5px;
background-color: #1e1e2e;
}

#scroll {
margin: 5px;
border-radius: 5px;
background-color: #313244;
}

#entry:selected {
background-color: #74c7ec;
}

#text:selected {
color: #1e1e2e;
}
